anyio==3.6.1
argcomplete==2.0.0
asgiref==3.5.2
attrs==21.4.0
black==22.3.0
boto3
botocore
certifi==2022.6.15
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click
cryptography
datamodel-code-generator==0.13.0
dnspython==2.2.1
email-validator==1.2.1
fastapi
genson==1.2.2
h11==0.13.0
idna==3.3
inflect==5.6.0
isodate==0.6.1
isort==5.10.1
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==3.2.0
MarkupSafe==2.1.1
mypy-extensions==0.4.3
openapi-schema-validator==0.1.6
openapi-spec-validator==0.3.3
paramiko==2.12.0
pathspec==0.9.0
platformdirs==2.5.2
prance==0.21.8.0
pycparser==2.21
# pydantic==1.9.1
pydantic
PyMySQL==1.0.2
pyrsistent==0.16.1
PySnooper==1.1.1
python-dateutil==2.8.2
python-http-client==3.3.7
PyYAML==6.0
requests
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
semver==2.13.0
sendgrid==6.9.7
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.4
starkbank-ecdsa==2.0.3
starlette
toml==0.10.2
tomli==2.0.1
typed-ast==1.5.4
typing-extensions==4.2.0
urllib3==1.26.9
uvicorn
python-multipart
mongoengine
pymongo
PyJWT
passlib
bcrypt==4.0.1
xmltodict
pandas
pytest== 7.3.1
pytz
shortuuid
psycopg2-binary
slowapi
pytest==8.2.1
pytest-asyncio==0.23.6
httpx==0.27.0